.profile {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 42px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
