@use "../../sass/variables";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .avatar {
    border-radius: 50%;
    padding: 3px;
    border: 4px solid variables.$primary-color;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  h4 {
    color: variables.$primary-color;
    margin-bottom: 0;
  }
}
