@use "../../sass/variables";

.bottomnav {
  height: variables.$bottom-nav-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  .active {
    color: variables.$primary-color;
  }
}

@keyframes downToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
