.projects {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 42px;
      font-weight: 600;
      padding-top: 20px;
    }
  }

  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
}
