.skills-main {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .skills-first {
    h1 {
      font-size: 42px;
      font-weight: 600;
      padding-top: 40px;
    }

    .skills-data {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .skills-item {
        margin-right: 50px;
      }

      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin-top: 10px;
      }
    }
  }

  .skills-second {
    h1 {
      font-size: 42px;
      font-weight: 600;
      padding-top: 40px;
    }

    .skills-data {
      margin-top: 30px;

      .skills-item {
        margin-bottom: 40px;
      }

      h3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        margin-top: 10px;
      }
    }
  }
}
