@use "./sass/variables";

.app {
  height: 100vh;
  background-color: white;
  color: black;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;

  .container {
    width: 80%;
    margin: 0 auto;

    @media only screen and (max-width: 600px) {
      width: 90%;
    }
  }

  .page-container-height {
    height: calc(
      100vh - (variables.$nav-height + variables.$bottom-nav-height)
    );
  }

  .page-container-height-full {
    height: calc(100vh - variables.$nav-height);
  }
}
