@use "../../sass/variables";

.nav {
  height: variables.$nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 6px;
    cursor: pointer;
    margin-bottom: 0;
    animation: topToDown 1s ease-out;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes topToDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
